/*---Fonts Variables--*/
  $inter-font: "Inter", sans-serif;
  $geist-font: "Geist", sans-serif;

/*---Theme color Variables--*/
  $primary: #FF1949;
  $white: #fff;
  $text_color: #002147;
  $text_style2: #404A56;
  $border: rgba(0, 33, 71, 0.20);

