/*---Fonts Variables--*/
  $inter-font: "Inter", sans-serif;
  $geist-font: "Geist", sans-serif;

/*---Theme color Variables--*/

  $primary: #FF1949;
  $white: #fff;
  $black: #000;
  $black2: #002147;
  $text_color: #404A56;
  $border: #E8E7EC;