.container {
    @include breakpoint (xxxl){
        max-width: 1464px;
    }
}


// Arrow icon
.slider_arrow_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    span {
        color: #404A56;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; 
        letter-spacing: -0.18px;
    }
    .icon {
        cursor: pointer;
    }
}

.rb_arrow_btn {
    display: flex;
    gap: 48px;
    .icon {
        i {
            font-size: 20px;
            color: #FFF;
            cursor: pointer;
        }
    }
}

.rb_arrow_slider_btn {
    .item_1 {
        @include flex(row, center, center);
        position: absolute;
        top: 42%;
        left: 3%;      
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 46px;
        background: #FFF;
    }
    .item_2 {
        @include flex(row, center, center);
        position: absolute;
        top: 42%;
        right: 3%;      
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 46px;
        background: #FFF;
    }
    button {
        &:hover {
            background-color: #FF9916;
            i {
                color: #FFF;
            }
        }
    }
}

// Video icon
// @keyframes ripple {
//     0% {
//     box-shadow: 0 0 0 0 rgb(255 255 255 / 20%), 0 0 0 20px rgb(255 255 255 / 20%), 0 0 0 40px rgb(255 255 255 / 20%);
//     }
//     100% {
//         box-shadow: 0 0 0 20px rgb(255 255 255 / 20%), 0 0 0 40px rgb(255 255 255 / 20%), 0 0 0 60px rgb(255 255 255 / 0%);
//     }
// }
.rb_video_icon {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: playButtonAnimation 2s linear infinite;
} 
.over-hidden{
    overflow: hidden;
}

.slider-controller,
.blog-slider-controller {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    
    @include xxs{
        display: none;
    }

    .tsm-btn-next,
    .tsm-btn-prev,
    .blog-btn-next,
    .blog-btn-prev{
        &:focus{
            svg{
                stroke: $primary;
            }
        }
        svg{
            stroke: #636363;
        }
    }
    .blog-fraction,
    .fraction{
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        color: $text_color;
    }
}
// Pagination with Number
.rb_page_nav_wrap {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        li {
            .page-numbers {
                display: flex;
                width: 44px;
                height: 44px;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                border: 1px solid rgba(3, 26, 38, 0.10);
                background: rgba(255, 255, 255, 0.00);
                color: #031A26;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                opacity: 0.7;

                // @media (max-width: 767px) {
                //     margin-top: 10px;
                //     width: 50px;
                //     height: 50px;
                //     font-size: 14px;
                // }
  
                i {
                    color: #031A26;
                    font-size: 15px;
                    font-style: normal;
                }
  
                &:hover {
                    background: $primary;
                    color: $white;
                    i {
                        color: $white;
                    }
                }
            }
        }
    }
}

// Tab css start
.nav-pills {
    border-radius: 50px;
    border: 1px solid rgba(3, 26, 38, 0.10);
    background: #FFEED8;
    display: flex; 
    display: inline-block;

  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include sm{
        justify-content: center;
    }
  }
  
  .nav-link {
    color: #031A26;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    border: 0;
    text-align: center;
    padding: 8px 32px;
    height: 54px;
    transition: all 0.3s ease;
    border-radius: 0; 
  
    &.active {
        color: #031A26;
        border-radius: 100px;
        background: $white;
        height: 50px;
        padding: 8px 30px;
        margin-left: 2px;
    }
  
    &:first-child.active {
      border-radius: 30px;

    }
  
    &:last-child.active {
      border-radius: 30px;
    }
  }
}		
// Tab css end

// Faq Section Start
.rb_faq_section {
    .accordion {
        width: 100%;
        margin-top: 50px;

        @include lg{
            margin-top: 0;
        }
        .accordion-item {
            border-radius: 12px;
            background: $bg_color; 
            border: none;
            margin-bottom: 12px;
            overflow: hidden; 
            padding: 28px 30px;
            &.style_1 {
                background: $white;
            }

            @include xxl{
                margin-bottom: 8px;
                padding: 20px 24px;
            }

            @include xxs{
                padding: 13px 16px;
                margin-bottom: 12px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            &.active {
                .accordion-header {
                    border-radius: 12px;
                    background: $bg_color;
                    &.style_1 {
                        background: $white;
                    }
                    h4 {
                        color: $black2;
                    }                    

                    .icon {
                        transform: rotate(180deg); 
                        background-color: $primary;
                        color: $white;
                    }
                }
                .accordion-content {
                    height: auto; 
                }
            }
        }

        .accordion-header {
            @include flex(row, space-between, center);
            padding: 0;
        
            cursor: pointer;
                transition: background 0.3s ease;
            h4 {
                color: $black2;
                font-family: $geist-font;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px; /* 150% */
                letter-spacing: -0.48px;
                @include xxl{
                    font-size: 20px;
                    line-height: 32px;
                }
                @include breakpoint (max-xsmall){
                    font-size: 16px !important;
                    line-height: 24px;
                }

                span{
                    margin-right: 16px;

                    @include sm{
                        margin-right: 10px;
                    }

                    @include xxs{
                        display: block;
                        margin-bottom: 5px;
                    }
                }
            }

            .icon {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                align-self: flex-start;
                @include border-radius(50%);
                transition: transform 0.3s ease;
                border-radius: 24px;
                border: 1px solid #E5E6EA;
                background: $white;
                min-width: 40px;
                min-height: 40px;
                @include breakpoint (max-xsmall) {
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 12px;
                    min-width: 28px;
                    min-height: 28px;
                }

                
                    
                
            }
        }

        .accordion-content {
            height: 0;
            overflow: hidden;
            transition: height 0.5s ease-out, padding 0.5s ease-out;
            p {
                padding: 8px 110px 0 63px;
                margin: 0; 
                color: #404A56;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 177.778% */
                letter-spacing: -0.18px;

                @include xxl{
                    font-size: 16px;
                    line-height: 24px;
                    padding: 8px 110px 0 54px;
                }
                @include xl{
                    padding: 8px 70px 0 54px;
                }
                @include sm{
                    padding: 8px 30px 0 48px;
                }

                @include breakpoint (max-xsmall){
                    font-size: 14px !important;
                    line-height: 22px;
                }
                @include xxs{
                    padding: 5px 12px 0 0;
                }
            }
        }
    }
}
// Faq Section End

// Faq Section Start
.rb_faq_section_2 {
    border-radius: 20px;
    background: #F7F7F7;
    .accordion {
        width: 100%;

        @include lg{
            margin-top: 0;
        }
        @include xxs{
            margin-top: 20px;
        }

        .accordion-item {
            border-radius: 12px;
            border: 1px solid rgba(0, 33, 71, 0.20);
            background: #FFF;
            margin-bottom: 12px;
            overflow: hidden; 
            padding: 30px 30px;
            &.style_1 {
                background: $white;
            }

            @include xxl{
                margin-bottom: 8px;
                padding: 20px 24px;
            }

            @include xxs{
                padding: 13px 16px;
                margin-bottom: 12px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            &.active {
                .accordion-header {
                    border-radius: 12px;
                    background: $white;
                    &.style_1 {
                        background: $white;
                    }
                    h4 {
                        color: $black2;
                    }                    

                    .icon {
                        transform: rotate(180deg); 
                        color: $black2;
                    }
                }
                .accordion-content {
                    height: auto; 
                }
            }
        }

        .accordion-header {
            @include flex(row, space-between, center);
            padding: 0;
        
            cursor: pointer;
                transition: background 0.3s ease;
            h4 {
                color: #0D2C50;
                font-family: $geist-font;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px; 
                letter-spacing: -0.48px;
                @include xxs {
                    font-size: 20px;
                    line-height: 32px; 
                    letter-spacing: -0.4px;
                }

                span{
                    margin-right: 16px;

                    @include sm{
                        margin-right: 10px;
                    }

                    @include xxs{
                        display: block;
                        margin-bottom: 5px;
                    }
                }
            }

            .icon {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                align-self: flex-start;
                @include border-radius(50%);
                transition: transform 0.3s ease;
                border-radius: 24px;
                border: none;
                background: $white;
                min-width: 40px;
                min-height: 40px;
                &::before {
                    font-size: 24px;
                    display: inline-block;
                }
                @include md {
                    &::before {
                        font-size: 22px;
                    }
                }
                @include breakpoint (max-xsmall) {
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 12px;
                    min-width: 28px;
                    min-height: 28px;
                    &::before {
                        font-size: 20px;
                    }
                }              
                
            }
        }

        .accordion-content {
            height: 0;
            overflow: hidden;
            transition: height 0.5s ease-out, padding 0.5s ease-out;
            p {
                padding: 8px 50px 0 0px;
                margin: 0; 
                color: #404A56;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; 
                letter-spacing: -0.18px;

                @include xxl{
                    font-size: 16px;
                    line-height: 24px;
                }

                @include breakpoint (max-xsmall){
                    font-size: 14px !important;
                    line-height: 22px;
                }
                @include xxs{
                    padding: 5px 12px 0 0;
                }
            }
        }
    }
}
// Faq Section End


// Input Form
.common_input {
    position: relative;
    .form-group {
        label {
            display: block;
            color: $text_color;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; 
            margin-bottom: 13px;
        }

        input[type="text"],
        input[type="number"],
        input[type="tel"],
        input[type="date"],
        input[type="time"],
        input[type="email"],
        input[type="password"],
        textarea {
            width: 100%;
            padding: 12px 20px;
            height: 46px;
            border-radius: 6px;
            border: 1px solid rgba(3, 26, 38, 0.12);

            color: $text_color;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; 
            &::placeholder{
                color: $text_color;
                opacity: 0.7;
            }
            &:focus {
                outline: none;
            }
        }
        textarea {
            height: 122px;
            resize: vertical;
        }
        input[type="date"] {
            cursor: pointer;
            &::-webkit-calendar-picker-indicator {
                opacity: 0;
                display: none;
                -webkit-appearance: none;
            }
            &::-webkit-inner-spin-button,
            &::-webkit-clear-button {
                display: none;
            }

            &:focus {
                outline: none;
            }
        }
        .nice-select,
        select {
            width: 100%;
            padding: 12px 20px;
            height: 46px;
            border-radius: 6px;
            border: 1px solid rgba(3, 26, 38, 0.12);

            color: $text_color;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            /* Remove default arrow styles for consistency */
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            /* Add custom arrow */
            // background-image: url("data:image/svg+xml;charset=US-ASCII,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3e%3cpath fill='%23626262' d='M6 8L0 0h12z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 15px center;
            background-size: 12px 8px;
            cursor: pointer;
        }
        .nice-select:after {
            width: 7px;
            height: 7px;
        }
        select:focus {
            outline: none;
        }


        .gender-options {
            display: flex;
            gap: 20px;
            padding: 14px 30px;
            height: 54px;
            border-radius: 5px;
            background: var(--100, #EBF3ED);
            align-items: center;
            // @include breakpoint (max-xsmall){
            //     padding: 14px 15px;
            // }
            label {
                display: flex;
                align-items: center;
                gap: 6px;
                margin: 0;
                color: var(--800, #626262);
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; 
            }
    
            input[type="radio"] {
                display: flex;
                width: 20px;
                height: 20px;
                flex-direction: column;
                align-items: flex-start;
                flex-shrink: 0;
                border-radius: 50%; 
                border: 1px solid var(--900, #1F1F1F);
                background: transparent;
                cursor: pointer;
            }
        }


        .password-input-container {
            position: relative;
            display: flex;
            align-items: center;
            &.style_1{
                input{
                    &::placeholder{
                        font-size: 50px;
                        letter-spacing: 5px;
                        color: black;
                    }

                }
            }
        }
        .toggle-password {
            position: absolute;
            right: 15px;
            color: #626262;
            font-size: 18px;
            transition: color 0.3s;
            cursor: pointer;
        }
    }
    .checkbox-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .checkbox-left {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $text_color;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
        opacity: 0.7;
    }

    .checkbox-left input[type="checkbox"] {
        border-radius: 2px;
        border: 1px solid rgba(3, 26, 38, 0.12);
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

}