

.btn_wrapper {
    a {
        display: inline-flex;
        padding: 8px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 22px;
        background: $white;
        color: $black2;
        border: 1px solid $black2;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; 
        letter-spacing: -0.28px;
        transition: all 0.4s;
        &:hover,
        &.active {
            background-color: $primary;
            color: $white;
            border-color: $primary;
        }
        &.active:hover {
            background-color: $white;
            color: $black2;
            border-color: $primary;
        }

    }

    &.style_1{
        a{
            background-color: $black2 ;
            color: $white;
            transition: all 0.4s;

            &:hover{
                border-color: $black2;
                color: $black2;
                background-color: $white;
            }
        }
    }
    
        
    
    &.style_2 {
        a {
            background-color: $white;
            color: $black2;
            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
    }
    &.style_3 {
        a {
            font-size: 16px;
            line-height: 24px;
            background-color: $white;
            color: $black2;
            border: 1px solid $black2;
            &:hover {
                background-color: $primary;
                color: $white;
            }

            @include xxs{
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    
    &.style_4 {
        a {
            font-size: 16px;
            line-height: 24px;
            background-color: $primary;
            color: $white;
            border-color: $primary;
            &:hover {
                background-color: $white;
                color: $black2;
                border-color: $black2;
            }

            @include xxs{
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    &.style_5 {
        a {
            background-color: $white;
            color: $black2;
            &:hover {
                background-color: $black2;
                color: $white;
                border-color: $black2;
            }
        }
    }
    &.style_5 {
        a {
            background-color: $black2;
            color: $white;
            &:hover {
                background-color: $primary;
                color: $white;
                border-color: $primary;
            }
        }
    }
}

