.btn_wrapper {
    a {
        display: inline-flex;
        padding: 8px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 22px;
        background: $white;
        color: $black2;
        border: 1px solid $black2;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
        letter-spacing: -0.28px;
        transition: all 0.3s;
        &:hover,
        &.active {
            background-color: $primary;
            color: $white;
            border-color: $primary;
        
        &.active:hover {
            background-color: $white;
            color: $black2;
            border-color: $primary;
        }

    }
    &.style_1 {
        a {
            background-color: $black2;
            color: $white;
            @include transition(0.4s);
            &:hover {
                background-color: $primary;
                color: $white;
                i {
                    transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                }
            }
        }
    }
    &.style_2 {
        a {
            background-color: $white;
            color: $black2;
            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
    }
    &.style_3 {
        a {
            background-color: $white;
            color: $black2;
            border: 1px solid #002147;
            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
    }
    &.style_4 {
        a {
            background-color: $white;
            color: $black2;
            border-radius: 24px;
            border: 1px solid #E5E9ED;
            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
    }
}
}