* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: $inter-font;
}
h1, h2, h3, h4, h5, h6{
     font-family: $geist-font;
}
a {
    text-decoration: none;
}
ul{
    padding: 0px;
    margin: 0px;
}
ul,
ol {
    list-style-type: none;
}
.text-right {
    text-align: right !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}
@include sm{
    .mb_sm_none{
        display: none;
    }
}
@include md{
    .mb_md_none{
        display: none !important;
    }
}
@include nesthub{
    .mb_nest_none{
        display: none;
    }
}
.mb_our_achievements_area{
    .row{
        &.style_01{
            @include sm{
                margin-top: 5px !important;
            }
        }
    }
}


.order_style{
    display: flex;
    flex-direction: row;
    @include md{
        .col-lg-3{
            
            &:nth-child(1){
                order: -1 !important;
            }
            &:nth-child(2){
                order: 0 !important;
            }
            &:nth-child(3){
                order: 3 !important;
            }
            &:nth-child(4){
                order: 4;
            }
            &:nth-child(5){
                order: 1;
            }
            &:nth-child(6){
                order: 2;
            }
            &:nth-child(7){
                order: 5;
            }
            &:nth-child(8){
                order: 6;
            }
        }
    }
    @include sm{
        .col-lg-3{
            
            &:nth-child(1){
                order: -1 !important;
            }
            &:nth-child(2){
                order: 2 !important;
            }
            &:nth-child(3){
                order: 3 !important;
            }
            &:nth-child(4){
                order: 6;
            }
            &:nth-child(5){
                order: 0;
            }
            &:nth-child(6){
                order: 1;
            }
            &:nth-child(7){
                order: 4;
            }
            &:nth-child(8){
                order: 5;
            }
        }
    }
}

.mb_our_achievements_area{
    .row{
        .col-lg-3{
            @media (min-width: 576px) and (max-width:767px){
                width: 50% !important;
            }
        }
    }
}

.mb_whats_happening{
    background-color: $bg_color;
    @include border-radius(20px);
}