// Heading Area Start
.rb_subtitle {
    display: inline-flex;
    padding: 5px 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 100px;
    border: 1px solid rgba(0, 33, 71, 0.20);
    color: $black2;
    font-family: $inter-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.14px;
    flex-shrink: 0;
    align-self: flex-start;
    margin-bottom: 8px;
   

    .subtitle-dot{
        display: inline-block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: $primary;
    }

    &.style_1 {
        border: 0.6px solid rgba(255, 255, 255, 0.20);
        color: $white;
    }
    @include xxl{
        font-size: 14px;
        line-height: 22px; 
        letter-spacing: -0.14px;
    }
    @include breakpoint (max-xsmall){
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.12px;
    }
    &.style_2 {
        border: 1px solid rgba(255, 255, 255, 0.20);
        color: $white;
        background: $black2;
    }
    @include xxl{
        font-size: 14px;
        line-height: 22px; 
        letter-spacing: -0.14px;
    }
    @include breakpoint (max-xsmall){
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.12px;
    }
}
.rb_title {
    color: $black2;
    font-family: $geist-font;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1.12px;
    span{
        color: $primary;
    }
    &.style_1 {
        color: $white;
    }

    @include xxl{
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -0.96px;
    }

    @include lg{
        font-size: 44px;
        line-height: 52px;
    }
    @include md{
        font-size: 40px;
    }
    @include xs{
        font-size: 34px;
        line-height: 40px;
    }
   
    @include xxs{
        font-size: 28px;
        line-height: 40px;
    }

    .xxs-br{
        display: none;

        @include xxs{
            display: block;
        }
    }
}

.rb_desc {
    color: $text_color;
    font-family: $inter-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    letter-spacing: -0.16px;
    max-width: 560px;
    

    @include xxl{
        font-size: 16px;
        line-height: 24px;
    }
    @include breakpoint (max-xsmall){
        font-size: 14px;
        line-height: 22px; 
        letter-spacing: -0.14px;
    }

    &.max-640{
        max-width: 640px;
    }
}
.rb_heading_title{
    @include md{
        flex: 1;
    }
}

.heading-btn-wrapper{
    display: inline-flex;
    gap: 12px;
    align-self: flex-end;
    margin-left: auto;
    flex-shrink: 0;
    @include xl{
        flex-direction: column;
    }

    @include md{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 0 0 100%;
        margin-left: 12px;
       
    }

    @include sm{
        flex: none;
        margin-left: 0;
        justify-content: flex-start;
        align-self: flex-start;
        margin-top: 15px;
    }

    &.single-btn{
        @include md{
            justify-content: flex-start;
            margin-left: 165px;
        }

        @include sm{
            margin-left: 0;
        }

    }
   
}


.rb_heading_area {
    display: flex;
    gap: 40px;
    margin-bottom: 45px;

    &.style-2{
        display: block;
        text-align: center;
    }
    &.style-3{
        display: block;
        text-align: left;
    }
    &.mb_style_1{
        @include md{
            .rb_heading_title{
                flex: none;
            }
            .heading-btn-wrapper{
                flex: none;
                margin-left: 0 !important;
            }
            .single-btn{
                margin-left: 0 !important;
            }
        }
    }

    @include md{
        flex-wrap: wrap;
        row-gap: 20px;
    }

    @include sm{
        flex-direction: column;
        row-gap: 2px;
        margin-bottom: 30px;
    }

    &.for-blog{
        @include md{
            flex-direction: column;
        }

        .heading-btn-wrapper{
            @include md{
                flex: none;
            }

        }
    }
}
// Heading Area End

@media (min-width:1200px){
    .min_br{
        display: none;
    }
}
@include nesthubmax{
  .nestmax_br_none{
        display: none;
    }
}
@include nesthub{
    .nest_br_none{
        display: none;
    }
}
@include md{
    .md_br_none{
        display: none;
    }
    .sm-none{
        display: none;
    }
}
@include sm{
    .sm_br_none{
        display: none !important;
    }
    .sm_br{
        display: block !important;
    }
    .sm-none{
        display: none;
    }
}



