// Heading Area Start
.rb_heading_area {
    .rb_subtitle {
        display: inline-flex;
        padding: 5px 12px;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 100px;
        border: 1px solid rgba(0, 33, 71, 0.20);
        color: $black2;
        font-family: $inter-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.14px;
        &.style_1 {
            border-radius: 100px;
            border: 0.6px solid rgba(255, 255, 255, 0.20);
            color: $white;
            font-family: $inter-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; 
            letter-spacing: -0.16px;
        }
        @include breakpoint (max-lg){
            font-size: 14px;
            line-height: 22px; 
            letter-spacing: -0.14px;
        }
        @include breakpoint (max-xsmall){
            font-size: 12px;
            line-height: 20px;
            letter-spacing: -0.12px;
        }
    }
    .rb_title {
        color: $black2;
        font-family: $geist-font;
        font-size: 56px;
        font-style: normal;
        font-weight: 500;
        // line-height: 68px;
        letter-spacing: -1.12px;
        &.style_1 {
            color: $white;
        }
        @include breakpoint (max-lg){
            font-size: 48px;
            // line-height: 60px; 
            letter-spacing: -0.96px;
        }
        @include breakpoint (max-xsmall){
            font-size: 28px;
            // line-height: 52px;
            letter-spacing: -0.8px;
        }
        // @include sm{
        //     font-size: 28px;
        // }
    }
    .rb_desc {
        color: $text_color;
        font-family: $inter-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        letter-spacing: -0.16px;
        @include breakpoint (max-xsmall){
            font-size: 14px;
            line-height: 22px; 
            letter-spacing: -0.14px;
        }
    }
}
// Heading Area End



@media (min-width:1200px){
    .min_br{
        display: none;
    }
}
@include nesthubmax{
  .nestmax_br_none{
        display: none;
    }
}
@include nesthub{
    .nest_br_none{
        display: none;
    }
}
@include md{
    .md_br_none{
        display: none;
    }
    .sm-none{
        display: none;
    }
}
@include sm{
    .sm_br_none{
        display: none !important;
    }
    .sm_br{
        display: block !important;
    }
    .sm-none{
        display: none;
    }
}



