
/*------------------------------------
		3.1 Header Style 1
----------------------------------*/

.AE-header-container{
	background-color: $black2;
	border-radius: 12px;
	overflow: hidden;
	
}
.top-header{
	background-color: $black2;
	padding: 10px 0;

	@include md{
		display: none;
	}

	ul{
		display: flex;
		align-items: center;
		justify-content: space-between;

		li{
			border-right: 1px solid rgba(255, 255, 255, 0.25);
			flex: 1;
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
			&:last-child{
				border-right: none;
			}

			a{
				color: $white;
				font-size: 12px;
				line-height: 18px;
				font-weight: 400;
				transition: all 0.3s;

				&:hover{
					color: $primary;
				}
			}
		}
	}
}



.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: $white ;
	padding: 16px;
	border-radius: 12px;

	.logo{
		.sticky-logo{
			display: none;
		}
		a{
			img{
				@include md{
					max-width: 126px;
				}
				@include xxs{
					max-width: 116px;
				}
			}
		}
	}
	.main-menu {

		ul {
		 
		  	li {
				display: inline-block;
				padding: 0;
				position: relative;

				&.menu-item-has-children{
					&::after{
						content: "\f107";
						font-family: "FontAwesome";
						position: absolute;
						top: 50%;
						color: #020626b3;
						display: inline-block;
						@include transformY(-50%);
						right: 0;
						@include transition(0.4s);
						
					}
					&:hover{
						&::after{
							margin-top: -10px;
						color: $primary;
						transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						-moz-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						-o-transform: rotate(180deg);
					}
					}
				}

				&.active,
				&.current-menu-ancestor {
				position: relative;
				}
				&.dropdown {
				> a {
					padding-right: 30px !important;
		
					&:before {
					visibility: visible;
					}
				}
				.dropdown {
					> a {
					&:before {
						visibility: visible;
						right: 15px;
						transform: rotate(-90deg);
						margin-top: -4px;
					}
					}
				}
				}
		
				ul {
				&.submenu {
					li {
					&.active {
						> a {
						position: relative;
						z-index: 2;
						}
					}
					}
				}
				}
				
				&:hover {
					> ul {
						visibility: visible;
						transition: all 300ms ease;
						opacity: 1;
						transform: scaleY(1);
					}
				}
				ul {
				li {
					&:hover {
					ul {
						visibility: visible;
						top: -2px;
					}
					}
				}
				}

				a{
					font-size: 14px;
					line-height: 22px;
					font-weight: 400;
					color: $text_color;
					padding: 15px 11px;
					text-transform: capitalize;
					transition: all 0.3s;
				}

				&:hover,
				&.active{
					a{
						font-weight: 600;
						color: $black2;
					}
				}
		  	}

			ul {
				left: 0;
				opacity: 0;
				position: absolute;
				text-align: left;
				top: 100%;
				visibility: hidden;
				z-index: 99999;
				transition: all 300ms ease;
				box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
				transform-origin: top;
				background-color:$white;
				transform: scaleY(0);
		
				li {
				float: none;
				min-width: 210px;
				margin: 0;
				ul {
					visibility: hidden;
				}
				i {
					float: right;
				}
		
				> a {
					line-height: 120%;
					padding: 10px 20px;
					color: $text_color;
					border-bottom: 1px solid #E3E3E3;
					margin-left: 0;
					font-size: 16px;
					font-family:  $inter-font;
					@include transition(0.4s);
					&:hover {
					background-color: $primary;
					color: #fff;
					}
				}
				&:last-child a {
					border-bottom: 0px;
				}
				}
				ul {
				left: 100%;
				transition: all 0.3s ease 0s;
				opacity: 0;
				border-top: 0px;
				}
			}
		}
	}

	.header-btns_area{
		display: flex;
		gap: 8px;
		align-items: center;

		@include md{
			display: none;
		}
	}
	.header-right{
		display: flex;
		gap: 8px;
		align-items: center;

		.offcanvas-bar{
			border: 1px solid transparent;
			height: 40px;
			width: 40px;
			border-radius: 50% !important;
			font-size: 16px;
			font-weight: 500;
			border-radius: 6px;
			padding: 5px 10px;
			background: $primary;
			
			span{
				color: $white;
			}
		}
	}
	  
}
header{
	z-index: 999;
	position: relative;
	padding-top: 18px;
}

@include nesthub{
	.container-fluid{
		margin: 0px !important;
		padding: 0px !important;
	}
}




//>>>>> Sticky Start <<<<</
.sticky_top {
	width: 100%;
	position: fixed;
	top: 0px;
	margin: auto;
	animation: slideDown 1.5s ease forwards;
	background-color: #fffdfd;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	transition: top 0.5s ease-in-out;

	.AE-header-container{
		// box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	}
	&.header-1{

		.top-header{
			display: none;
		}

 		.header-wrap{
			border-radius: 0;
			padding-left: 0;
			padding-right: 0;
			
			.logo{
				.primary-logo{
					display: none;
				}
				.sticky-logo{
					display: block;
				}
			}
			// .main-menu {
			// 	ul {
			// 		background-color: transparent;
					
			// 	  li {
			// 		a {
			// 		  padding: 9px 13px;
			// 		  color: $text_color;
			// 		  &:hover{
			// 			color: $primary;
			// 		  }
			// 		}
			// 	  }
			// 	  ul {
			// 		li {
			// 		  > a {
			// 			padding: 10px 20px;
			// 		  }
			// 		}
			// 	  }
			// 	}
			// }
		}
	
	}
	
	
}






        
       
        