.mb_first_applicant{
    background-color: $bg_color;
    h2{
        font-weight: 500;
        font-size: 56px;
        line-height: 68px;
        letter-spacing: -0.02em;
        color: $black2;
        @media (max-width: 1440px){
            font-size: 48px;
            line-height: 60px;
        }
        @include md{
            font-size: 40px;
            line-height: 52px;
        }
        @include sm{
            font-size: 28px;
            line-height: 40px;
        }
    }
    .mb_applicant_image{
        width: 100%;
        height: 700px;
        @media (max-width: 1440px){
            height: 560px;
        }
        @include sm{
            height: 300px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include border-radius(16px);
        }
    }
    h4{
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: $black2;
        @include sm{
            font-size: 24px;
            line-height: 36px;
        }
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.01em;
        color: $text_color;
        @include sm{
            font-size: 14px;
            line-height: 22px; 
        }
    }
  
    .mb_requirement_deadline{
        border: 1px solid #e5e9ed;
        border-radius: 16px;
        padding: 48px;
        width: 100%;
        background-color: $white;
        @media (max-width: 1440px){
            padding: 36px;
        }
        @include md{
            padding: 24px;
        }
        @include sm{
            padding: 16px;
        }
    }
    .mb_require_list{
        @include flex(row, flex-start, center);
        gap: 110px;
        flex-wrap: wrap;
        margin-top: 24px;

        @include md{
            gap: 13px;
        }
        @include sm{
            margin-top: 16px;
        }
        ul{
            @include flex(column, flex-start, flex-start);
            gap: 13px;
            @include sm{
                gap: 8px;
            }
            
            li{
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: -0.01em;
                color: $text_color;
                @include flex(row, flex-start, center);
                gap: 12px;
                p{
                    width: calc(100% - 40px);
                }
                span{
                    width: 28px;
                    height: 28px;
                    @include border-radius(50%);
                    text-align: center;
                    line-height: 28px;
                    display: block;
                    border: 1px solid rgba(0, 33, 71, 0.2);
                    background-color: $bg_color;
                }
                @include sm{
                    font-size: 14px;
                    line-height: 22px;
                    span{
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    .mb_application_deadline{
        .col-sm-4{
            @include sm{
                width: calc(33.33% - 5px);
            }
        }
        margin-top: 24px;
        @include sm{
            margin-top: 16px;
        }
        .row{
            padding: 14px 28px;
            @include sm{
                padding: 16px;
            }
            &.style_1{
                background-color: $black2;
                border-radius: 12px 12px 0 0;
            }
            &.style_2{
                border: 1px solid rgba(0, 33, 71, 0.2);
                border-top: none;
            }
            &.style_3{
                @include border-radius(0px 0px 12px 12px);
            }
        }
        h4{
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: $white;
            @include sm{
                font-size: 14px;
                line-height: 22px;
            }
        }
        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.01em;
            color: $black2;
            @include sm{
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
            }
        }

    }
}


.application_details_area{
    background-color: $bg_color;
    // Basic variables and mixins
$text-color: #333;
$light-bg: #f5f8fc;
$border-color: #e0e0e0;
$input-bg-color: #fff;
$font-family: Arial, sans-serif;


// BEM classes
.form_container {
  border: 1px solid #e5e9ed;
    border-radius: 12px;
    padding: 36px;
    background-color: $white;
    @include md{
        padding: 24px;
    }
    @include sm{
        padding: 16px;
    }
}

.application_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include sm{
    gap: 6px;
  }
}

.form_heading {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: $black2;
    margin-bottom: 32px;
    @include md{
        font-size: 40px;
        line-height: 52px;
    }
    @include sm{
        font-size: 28px;
        line-height: 48px;
        margin-bottom: 20px;
    }
}

h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: #0d2c50;
    margin-bottom: 16px;
}
.form_field_group {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  @include sm{
    flex-direction: column;
  }
}

.form_field {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &--full-width {
    flex: none;
    width: 100%;
  }
}

.form_label {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: $black2;
    margin-bottom: 8px;
    @include sm{
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 6px;
    }
}

.form_input{
    border: 1px solid rgba(13, 44, 80, 0.1);
    border-radius: 8px;
    padding: 0px 20px;
    height: 52px;
    line-height: 52px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    outline: none;
    color: $black2;
    @include sm{
        padding: 0px 14px;
        height: 44px;
        line-height: 44px;
    }
    &::placeholder{
        color: $text_color;
    }
    background-color: $bg_color;
}
.form_select {
  border: 1px solid rgba(13, 44, 80, 0.1);
    border-radius: 8px;
    padding: 0px 20px;
    width: 100%;
    background-color: $bg_color;
    height: 52px;
    line-height: 52px;
}
.nice-select{
    &::after{
        width: 8px;
        height: 8px;
        right: 24px;
    }
    .list{
        width: 100%;
    }
}

.form_checkbox_label{
    @include flex(row, flex-start, center);
    gap: 10px;
    margin-top: 12px;
    @include sm{
        align-items: flex-start;
        
    }
    label{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: $text_color;
        @include sm{
            font-size: 12px;
            line-height: 20px;
        }
    }
    input{
        border: 1px solid rgba(13, 44, 80, 0.1);
        border-radius: 4px;
        width: 24px;
        backdrop-filter: blur(10px);
        background: $white;
        height: 24px;
        cursor: pointer;
    }

    }

.form_agreement_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: $text_color;
    margin-bottom: 16px;
    @include sm{
        font-size: 14px;
        line-height: 22px;
    }
}


.file_input_hidden {
  display: none; 
}

.choose_file_btn {
  padding: 5px 15px;
  background-color: $primary;
  border: none;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $white;
    @include sm{
        padding: 5px 12px;
        font-size: 12px;
        line-height: 22px;
    }
}

.file_input_container {
    margin-top: 16px;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  border: 1px solid rgba(13, 44, 80, 0.1);
    border-radius: 8px;
    padding: 10px 20px;
    height: 52px;
    backdrop-filter: blur(10px);
    background: $bg_color;
    @include sm{
        padding: 7px 14px;
    }
  
  .file_name {
    padding: 10px;
    color: #999;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $text_color;
  }
}

.btn_wrapper{
    a{
        width: 100%;
    }
}
.mb_application_sidebar{
    @include md{
        margin-top: 24px;
        @include flex(row, center, flex-start);
        @include sm{
            flex-direction: column;
        }
        gap: 16px;
        flex-wrap: wrap;

    }
    .mb_american_studies{
        width: 100%;
        .mb_title{
            border-radius: 12px 12px 0 0;
            padding: 14px 20px;
            background-color: $black2;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -0.01em;
            text-align: center;
            color: $white;
        }
        ul{
            border-radius: 12px;
            background-color: $white;
            li{
                a{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: -0.02em;
                    color: $black2;
                    @include transition(0.4s);
                    &:hover{
                        color: $primary;
                    }

                }
                border: 1px solid rgba(0, 33, 71, 0.2);
                padding: 14px 20px;
                span{
                    margin-left: 10px;
                }
                width: 100%;
                &:last-child{
                    @include border-radius(0px 0px 12px 12px);
                }

            }
        }
    }
}
.mb_department_contact{
    width: 100%;
    margin-top: 24px;
    border-radius: 12px;
    padding: 28px;
    background-color: $black2;
    @include md{
        margin-top: 0px;
        @include sm{
            margin-top: 16px;
        }
    }
    h4{
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.01em;
        color: $white;
    }
    p{
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.01em;
        color: $white;
    }
    .mb_contact_us{
        margin-top: 48px;
        h5{
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: $white;
            margin-bottom: 16px;
        }
        a{
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: $white;
            display: block;
            margin-bottom: 10px;
            @include transition(0.4s);
            &:hover{
                color: $primary;
            }
        }
    }
    .mb_social_media{
        margin-top: 38px;
        h4{
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: $white;
        }
        .social-icons{
            margin-top: 16px;
            a{
                &:hover{
                    border: 1px solid transparent;
                }
            }
        }
    }
}
}