.rb_map {
  border-radius: 20px;
  background: #F7F7F7;

  .map_container {
    position: relative;
    overflow: hidden; // keeps iframe inside rounded corners
    border-radius: 20px;
    border: 1px solid #E5E9ED;
    box-shadow: 0 24px 50px 0 rgba(0, 33, 71, 0.15);
    height: 698px;
    flex-shrink: 0;
    @include xxl {
        height: 600px;
    }

    @include xl {
        height: 500px;
    }

    @include lg {
        height: 400px;
    }

    @include md {
        height: 350px;
    }

    @include sm {
        height: 300px;
    }

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 20px; 
      display: block;
    }
  }
}
