.mb_our_values_area{
    border-radius: 20px 20px 0 0;
    padding: 118px 0px;
    background: $black2;
    @include md{
        padding: 58px 0px;
    }
    @include sm{
        padding: 40px 0px;
    }
    .row{
        &.style_1{
            .col-lg-3{
                @include nesthub{
                    width: 50%;
                }
                @include md{
                    width: 50%;
                }
                @include sm{
                    width: 100%;
                }
            }
        }
    }
}
.mb_career_area{
    background-color: $bg_color;
}
.mb_our_value_card{
    border-radius: 12px;
    padding: 36px;
    width: 100%;
    @include flex(column, space-between, flex-start);
    background: #0d2c50;
    height: 440px;
    margin-bottom: 20px;
    &.style_01{
        background-color: $white;
        h4{
            color: #0d2c50 !important;
        }
        p{
            color: #0d2c50 !important;
            font-size: 16px !important;

        }
    }
    @include xl{
        height: 384px;
    }
    @include nesthub{
        border-radius: 12px;
        padding: 32px;
        height: 384px;


    }
    h4{
        font-weight: 500;
        font-size: 24px;
        letter-spacing: -0.02em;
        color: #f7f7f7;
        line-height: 36px;
    }
    p{
        font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #f7f7f7;
        margin-top: 9px;
        line-height: 22px;
    }
}

.mb_logo_slider{
    margin-top: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 36px 0px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    @include sm{
        padding: 20px 0px;
    }
    .mb_logo{
        img{
            opacity: 0.2;
            cursor: pointer;
            @include transition(0.4s);
            &:hover{
                opacity: 1;
            }
            @include sm{
                width: 95px;
                height: 20px;
            }
        }
    }
}