.rb_process {
    .rb_card {
        .thumb {
            width: 100%;
        }
        .rb_item {
            display: flex;
            padding: 32px;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
            border-radius: 16px;
            border: 1px solid rgba(22, 60, 61, 0.14);
            @include transition(0.4s);
            min-height: 0;
            @include breakpoint (max-xxs){
                padding: 20px;
                gap: 40px;
            }
            @include breakpoint (max-xxsmall){
                gap: 34px;
            }
            .rb_btn {
                display: flex;
                padding: 6px 18px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 24px;
                background: #F5F5F5;
                color: $text_color;
                font-family: $inter-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                @include transition(0.4s);
                @include xxs {
                    font-size: 16px;
                    line-height: 24px; 
                    letter-spacing: -0.32px;
                }

            }
            .rb_content {
                .rb_title {
                    color: $black2;
                    font-family: $geist-font;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 40px; 
                    letter-spacing: -0.56px;
                    @include xxs {
                        font-size: 24px;
                        line-height: 36px;
                        letter-spacing: -0.48px;
                    }
                }
                .rb_desc {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                    color: $text_color;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; 
                    letter-spacing: -0.16px;

                    @include transition(0.4s);
                    @include xxs {
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: -0.28px;
                    }
                }
            }

            &:hover {
                border: 1px solid #E5E9ED;
                background: $white;
                box-shadow: 35px 35px 35px 0 rgba(0, 33, 71, 0.15);
                @include transition(0.4s);
                min-height: auto;
                .rb_btn {
                    color: $primary;
                    @include transition(0.4s);
                }
                .rb_content {
                    .rb_desc {
                        display: block;
                        opacity: 1;
                        visibility: visible;
                        @include transition(0.4s);
                    }
                }

            }
        }
    }
}